<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ contact.first_name }} {{ contact.last_name }}</title>
</head>
<body>
<h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
<a href="tel:{{ contact.phone_number }}">{{ contact.phone_number }}</a>
<br>
<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
<hr>
<p>Created at: {{ contact.created_on}} by {{ contact.author }}</p>
</body>
</html>
